-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: temp
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `classrooms`
--

DROP TABLE IF EXISTS `classrooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `classrooms` (
  `capacity` int NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `room_number` varchar(255) NOT NULL,
  `type` enum('LAB','LECTURE_HALL','TUTORIAL_ROOM') NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKssp1pyb8wwl1yu466h9e0kk8r` (`room_number`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classrooms`
--

LOCK TABLES `classrooms` WRITE;
/*!40000 ALTER TABLE `classrooms` DISABLE KEYS */;
INSERT INTO `classrooms` VALUES (80,17,'Class 1','LECTURE_HALL'),(80,18,'Class 2','LECTURE_HALL'),(80,19,'Class 3','LECTURE_HALL'),(80,20,'Class 4','LECTURE_HALL'),(80,21,'Class 5','LECTURE_HALL'),(80,22,'Class 6','LECTURE_HALL'),(80,23,'Class 7','LECTURE_HALL'),(80,24,'Class 8','LECTURE_HALL'),(80,25,'Class 9','LECTURE_HALL'),(80,26,'Class 10','LECTURE_HALL'),(22,27,'BEE Lab','LAB'),(24,28,'COMP3 Lab','LAB'),(20,29,'POWER Lab','LAB'),(23,30,'ANALOG Lab','LAB'),(21,31,'PROJECT Lab','LAB'),(24,32,'TUT room1','TUTORIAL_ROOM'),(24,33,'TUT room2','TUTORIAL_ROOM');
/*!40000 ALTER TABLE `classrooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_offerings`
--

DROP TABLE IF EXISTS `course_offerings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `course_offerings` (
  `weekly_hours` int NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `semester_id` bigint NOT NULL,
  `subject_id` bigint NOT NULL,
  `session_type` enum('LAB','THEORY','TUTORIAL') DEFAULT NULL,
  `lab_per_week` int NOT NULL,
  `lec_per_week` int NOT NULL,
  `tut_per_week` int NOT NULL,
  `department_id` bigint DEFAULT NULL,
  `year_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK2knui1kj75fvy10lh2q7seair` (`semester_id`),
  KEY `FKkjlcap28qboywxb00js38q1p5` (`subject_id`),
  KEY `FK88us20wdb24yu769j4dhbhdsd` (`year_id`),
  KEY `FKo3bqyw98lbmtie7iyfd0xijbb` (`department_id`),
  CONSTRAINT `FK2knui1kj75fvy10lh2q7seair` FOREIGN KEY (`semester_id`) REFERENCES `semesters` (`id`),
  CONSTRAINT `FK88us20wdb24yu769j4dhbhdsd` FOREIGN KEY (`year_id`) REFERENCES `years` (`id`),
  CONSTRAINT `FK8w85r5iv6xlq7n88j726674pf` FOREIGN KEY (`department_id`) REFERENCES `department` (`id`),
  CONSTRAINT `FKkjlcap28qboywxb00js38q1p5` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=70 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_offerings`
--

LOCK TABLES `course_offerings` WRITE;
/*!40000 ALTER TABLE `course_offerings` DISABLE KEYS */;
/*!40000 ALTER TABLE `course_offerings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `department`
--

DROP TABLE IF EXISTS `department`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `department` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `department`
--

LOCK TABLES `department` WRITE;
/*!40000 ALTER TABLE `department` DISABLE KEYS */;
INSERT INTO `department` VALUES (1,'Electronics and Tele Communication');
/*!40000 ALTER TABLE `department` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `divisions`
--

DROP TABLE IF EXISTS `divisions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `divisions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `division_name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKfb3wifyjd54aon98bc1y55gth` (`division_name`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `divisions`
--

LOCK TABLES `divisions` WRITE;
/*!40000 ALTER TABLE `divisions` DISABLE KEYS */;
INSERT INTO `divisions` VALUES (10,'Final-A'),(11,'Final-B'),(12,'Final-C'),(1,'FY-A'),(2,'FY-B'),(3,'FY-C'),(4,'SY-A'),(5,'SY-B'),(6,'SY-C'),(7,'TY-A'),(8,'TY-B'),(9,'TY-C');
/*!40000 ALTER TABLE `divisions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `elective_group_options`
--

DROP TABLE IF EXISTS `elective_group_options`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `elective_group_options` (
  `max_intake` int DEFAULT NULL,
  `min_intake` int DEFAULT NULL,
  `elective_group_id` bigint NOT NULL,
  `subject_id` bigint NOT NULL,
  PRIMARY KEY (`elective_group_id`,`subject_id`),
  KEY `FKj7l2mktglpqm774qhdh6dlseg` (`subject_id`),
  CONSTRAINT `FK38nwhy01wj2ix9c65581vnvax` FOREIGN KEY (`elective_group_id`) REFERENCES `elective_groups` (`id`),
  CONSTRAINT `FKj7l2mktglpqm774qhdh6dlseg` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `elective_group_options`
--

LOCK TABLES `elective_group_options` WRITE;
/*!40000 ALTER TABLE `elective_group_options` DISABLE KEYS */;
INSERT INTO `elective_group_options` VALUES (60,15,1,40),(60,15,1,41),(60,15,2,42),(60,15,3,49),(60,15,3,50),(60,15,4,51),(60,15,5,57),(60,15,5,58),(60,15,6,59),(60,15,6,60),(60,15,7,61),(60,15,8,63),(60,15,8,64),(60,15,9,65),(60,15,9,66),(60,15,10,67);
/*!40000 ALTER TABLE `elective_group_options` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `elective_groups`
--

DROP TABLE IF EXISTS `elective_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `elective_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `semester_id` bigint NOT NULL,
  `name` varchar(255) NOT NULL,
  `notes` text,
  PRIMARY KEY (`id`),
  KEY `FKrvmlb1mij8hmqcsof3avawpyr` (`semester_id`),
  CONSTRAINT `FKrvmlb1mij8hmqcsof3avawpyr` FOREIGN KEY (`semester_id`) REFERENCES `semesters` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `elective_groups`
--

LOCK TABLES `elective_groups` WRITE;
/*!40000 ALTER TABLE `elective_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `elective_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scheduled_classes`
--

DROP TABLE IF EXISTS `scheduled_classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scheduled_classes` (
  `classroom_id` bigint NOT NULL,
  `course_offering_id` bigint NOT NULL,
  `division_id` bigint NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `timeslot_id` bigint NOT NULL,
  `day_of_week` enum('FRIDAY','MONDAY','SATURDAY','SUNDAY','THURSDAY','TUESDAY','WEDNESDAY') NOT NULL,
  `session_type` enum('LAB','LECTURE','TUTORIAL') NOT NULL,
  `teacher_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK75sj5iamofea2klcxcl1lume1` (`classroom_id`),
  KEY `FKq65fxdce8pxn3e5w5ggkilefg` (`course_offering_id`),
  KEY `FK2ux5073xucibd6mi99a93lluy` (`division_id`),
  KEY `FKmdpr5d985d04hs1ywe2upaky` (`timeslot_id`),
  KEY `FK2cfhghh5u6l3mbhdlt5dg0cii` (`teacher_id`),
  CONSTRAINT `FK2cfhghh5u6l3mbhdlt5dg0cii` FOREIGN KEY (`teacher_id`) REFERENCES `teachers` (`id`),
  CONSTRAINT `FK2ux5073xucibd6mi99a93lluy` FOREIGN KEY (`division_id`) REFERENCES `divisions` (`id`),
  CONSTRAINT `FK75sj5iamofea2klcxcl1lume1` FOREIGN KEY (`classroom_id`) REFERENCES `classrooms` (`id`),
  CONSTRAINT `FKmdpr5d985d04hs1ywe2upaky` FOREIGN KEY (`timeslot_id`) REFERENCES `timeslots` (`id`),
  CONSTRAINT `FKq65fxdce8pxn3e5w5ggkilefg` FOREIGN KEY (`course_offering_id`) REFERENCES `course_offerings` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=193 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scheduled_classes`
--

LOCK TABLES `scheduled_classes` WRITE;
/*!40000 ALTER TABLE `scheduled_classes` DISABLE KEYS */;
/*!40000 ALTER TABLE `scheduled_classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `semester_divisions`
--

DROP TABLE IF EXISTS `semester_divisions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `semester_divisions` (
  `division_id` bigint NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `semester_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKjdtm0ck0m7ydnl04480phgq0q` (`division_id`),
  KEY `FKdrcjlleq160xvmxdpq9dpd7sy` (`semester_id`),
  CONSTRAINT `FKdrcjlleq160xvmxdpq9dpd7sy` FOREIGN KEY (`semester_id`) REFERENCES `semesters` (`id`),
  CONSTRAINT `FKjdtm0ck0m7ydnl04480phgq0q` FOREIGN KEY (`division_id`) REFERENCES `divisions` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `semester_divisions`
--

LOCK TABLES `semester_divisions` WRITE;
/*!40000 ALTER TABLE `semester_divisions` DISABLE KEYS */;
INSERT INTO `semester_divisions` VALUES (1,1,1),(2,2,1),(3,3,1),(1,4,2),(2,5,2),(3,6,2),(4,7,3),(5,8,3),(6,9,3),(4,10,4),(5,11,4),(6,12,4),(7,13,5),(8,14,5),(9,15,5),(7,16,6),(8,17,6),(9,18,6),(10,19,7),(11,20,7),(12,21,7),(10,22,8),(11,23,8),(12,24,8);
/*!40000 ALTER TABLE `semester_divisions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `semesters`
--

DROP TABLE IF EXISTS `semesters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `semesters` (
  `semester_number` int NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `year_id` bigint NOT NULL,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKftahtaqx0bd38io1vbk4d9y87` (`year_id`),
  CONSTRAINT `FKftahtaqx0bd38io1vbk4d9y87` FOREIGN KEY (`year_id`) REFERENCES `years` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `semesters`
--

LOCK TABLES `semesters` WRITE;
/*!40000 ALTER TABLE `semesters` DISABLE KEYS */;
INSERT INTO `semesters` VALUES (1,1,1,''),(2,2,1,''),(3,3,2,''),(4,4,2,''),(5,5,3,''),(6,6,3,''),(7,7,4,''),(8,8,4,'');
/*!40000 ALTER TABLE `semesters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjects`
--

DROP TABLE IF EXISTS `subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subjects` (
  `priority` int NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(255) NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `category` enum('OPEN_ELECTIVE','PROGRAM_ELECTIVE','REGULAR') DEFAULT NULL,
  `semester_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKrg7x1lyii7kdyycw98d45vep5` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=70 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjects`
--

LOCK TABLES `subjects` WRITE;
/*!40000 ALTER TABLE `subjects` DISABLE KEYS */;
/*!40000 ALTER TABLE `subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `substitutions`
--

DROP TABLE IF EXISTS `substitutions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `substitutions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `substitution_date` date NOT NULL,
  `original_teacher_id` bigint NOT NULL,
  `scheduled_class_id` bigint NOT NULL,
  `substitute_teacher_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKqtrjymkcc2xjlpbthdmhwq4w0` (`original_teacher_id`),
  KEY `FK7rxd4jtl1hf4v1l1ow0td3ml6` (`scheduled_class_id`),
  KEY `FKfxo3wo63ikh60l895sl1g22p6` (`substitute_teacher_id`),
  CONSTRAINT `FK7rxd4jtl1hf4v1l1ow0td3ml6` FOREIGN KEY (`scheduled_class_id`) REFERENCES `scheduled_classes` (`id`),
  CONSTRAINT `FKfxo3wo63ikh60l895sl1g22p6` FOREIGN KEY (`substitute_teacher_id`) REFERENCES `teachers` (`id`),
  CONSTRAINT `FKqtrjymkcc2xjlpbthdmhwq4w0` FOREIGN KEY (`original_teacher_id`) REFERENCES `teachers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `substitutions`
--

LOCK TABLES `substitutions` WRITE;
/*!40000 ALTER TABLE `substitutions` DISABLE KEYS */;
/*!40000 ALTER TABLE `substitutions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teacher_subject_allocations`
--

DROP TABLE IF EXISTS `teacher_subject_allocations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teacher_subject_allocations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `subject_id` bigint NOT NULL,
  `teacher_id` bigint NOT NULL,
  `priority` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKc4q7ox18armup16y0060qsvbv` (`subject_id`),
  KEY `FK1hg67m1wewmdieq3yr7a2d3w` (`teacher_id`),
  CONSTRAINT `FK1hg67m1wewmdieq3yr7a2d3w` FOREIGN KEY (`teacher_id`) REFERENCES `teachers` (`id`),
  CONSTRAINT `FKc4q7ox18armup16y0060qsvbv` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=147 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teacher_subject_allocations`
--

LOCK TABLES `teacher_subject_allocations` WRITE;
/*!40000 ALTER TABLE `teacher_subject_allocations` DISABLE KEYS */;
/*!40000 ALTER TABLE `teacher_subject_allocations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teacher_unavailability`
--

DROP TABLE IF EXISTS `teacher_unavailability`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teacher_unavailability` (
  `teacher_id` bigint NOT NULL,
  `timeslot_id` bigint DEFAULT NULL,
  KEY `FK9vncm59659iwn5nd4pophkmw7` (`teacher_id`),
  CONSTRAINT `FK9vncm59659iwn5nd4pophkmw7` FOREIGN KEY (`teacher_id`) REFERENCES `teachers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teacher_unavailability`
--

LOCK TABLES `teacher_unavailability` WRITE;
/*!40000 ALTER TABLE `teacher_unavailability` DISABLE KEYS */;
/*!40000 ALTER TABLE `teacher_unavailability` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teachers`
--

DROP TABLE IF EXISTS `teachers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teachers` (
  `department_id` bigint DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(255) DEFAULT NULL,
  `employee_id` varchar(255) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK4l9jjfvsct1dd5aufnurxcvbs` (`email`),
  UNIQUE KEY `UK8xdh0jsitskwq83arwxvyihhc` (`employee_id`),
  KEY `FK3b1l0bcmsa0v0m14g06ma6ecc` (`department_id`),
  CONSTRAINT `FK3b1l0bcmsa0v0m14g06ma6ecc` FOREIGN KEY (`department_id`) REFERENCES `department` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teachers`
--

LOCK TABLES `teachers` WRITE;
/*!40000 ALTER TABLE `teachers` DISABLE KEYS */;
/*!40000 ALTER TABLE `teachers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `timeslots`
--

DROP TABLE IF EXISTS `timeslots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `timeslots` (
  `end_time` time(6) NOT NULL,
  `is_break` bit(1) NOT NULL,
  `start_time` time(6) NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `timeslots`
--

LOCK TABLES `timeslots` WRITE;
/*!40000 ALTER TABLE `timeslots` DISABLE KEYS */;
/*!40000 ALTER TABLE `timeslots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `timetables`
--

DROP TABLE IF EXISTS `timetables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `timetables` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `is_valid` bit(1) NOT NULL,
  `name` varchar(255) NOT NULL,
  `published_at` datetime(6) DEFAULT NULL,
  `status` enum('ARCHIVED','DRAFT','PUBLISHED') NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `timetables`
--

LOCK TABLES `timetables` WRITE;
/*!40000 ALTER TABLE `timetables` DISABLE KEYS */;
/*!40000 ALTER TABLE `timetables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `years`
--

DROP TABLE IF EXISTS `years`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `years` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `year_name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKa177ffw7lydg566hy7kecd31n` (`year_name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `years`
--

LOCK TABLES `years` WRITE;
/*!40000 ALTER TABLE `years` DISABLE KEYS */;
INSERT INTO `years` VALUES (4,'Final Year'),(1,'First Year'),(2,'Second Year'),(3,'Third Year');
/*!40000 ALTER TABLE `years` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-09 11:21:13
