spring:
  application:
    name: timetable-management

  datasource:
    url: jdbc:mysql://localhost:3306/temp?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password: DmK#64@22
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  jackson:
    serialization:
      fail-on-empty-beans: false
      write-dates-as-timestamps: false

server:
  port: 8080

logging:
  level:
    root: WARN
    com.rspc.timetable: INFO
